/* * {
  margin: 0;
  padding: 0;
} */

header {
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
